<% include ./header %>
<div class="main jumbotron jumbotron-fluid special-color">
        <div class="container">
            <div class="text-center text-white">
                <h1 class="display-4" id='h1'>News</h1>
                <hr>
            </div>
            <div class="text-center">
                <a class="btn btn-info rounded" href="/">home</a>
                <a class="btn btn-success rounded" href="/country">country</a>
                <a class="btn btn-secondary" href="/headlines">headlines</a>
            </div>
        </div>
    </div>
    
<% include ./footer %>