<% include ./partials/header %>
<% include ./partials/menuComponent %>
<div class="">
<div class="container  text-center">
    <div class="jumbotron lime ligten-5 mx-5">
        <div class="">
            <h1 class="display-3">countries</h1>
        </div>
        
    </div>
</div>
<div class="container mt-5">
    <div class="ui four column grid text-center ">
        <div class="four wide column ">
            <img src="https://www.countryflags.io/be/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/be">belgium</a>
        </div>
         <div class=" four wide column    ">
            <img src="https://www.countryflags.io/au/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/au">Australia</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/br/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/br">Brazil</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/ch/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/ch">switzerland</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/cn/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/cn">china</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/de/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/de">germany</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/fr/flat/64.png">
            <br/>
            <a class='btn btn-outline-info' href="/country/fr">france</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/gb/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/gb">uk</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/il/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/il">israel</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/in/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/in">india</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/it/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/it">italy</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/ir/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/ir">iran</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/my/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/my">malasia</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/ng/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/ng">Nigeria</a>
        </div>
         <div class=" four wide column    " >
            <img src="https://www.countryflags.io/no/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/no">Norway</a>
        </div>
         <div class="four wide column  " >
            <img src="https://www.countryflags.io/nz/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href='/country/nz'>New zealand</a>
        </div>
         <div class="four wide column  " >
            <img src="https://www.countryflags.io/pl/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/pl">poland</a>

        </div>
         <div class="four wide column  " >
            <img src="https://www.countryflags.io/pt/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/pt">portugal</a>
        </div>
         <div class="four wide column  " >
            <img src="https://www.countryflags.io/ru/flat/64.png">
            <br/>
            <a class="btn btn-outline-info"href="/country/ru">russia</a>
        </div>
         <div class="four wide column  " >
            <img src="https://www.countryflags.io/sa/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/sa">saudi arabia</a>
        </div>
         <div class="four wide column   " >
            <img src="https://www.countryflags.io/us/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/us">united states</a>
        </div>
         <div class="four wide column  " >
            <img src="https://www.countryflags.io/za/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/za">south africa</a>
        </div>
         <div class="four wide column  " >
            <img src="https://www.countryflags.io/ae/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/ae">united arab</a>
        </div>
        <div class="four wide column ">
            <img src="https://www.countryflags.io/kr/flat/64.png">
            <br/>
            <a class="btn btn-outline-info" href="/country/kr">Korea</a>
        </div>
    </div>
</div>
</div>
<% include ./partials/footer %>